In [3]:
import pandas as pd
import numpy as np

In [4]:
df_pop = pd.read_csv('../data/curated_data/vic_pop.csv')
df_pop_fore = pd.read_csv('../data/curated_data/population_forecast.csv')
df_post_SA2 = pd.read_csv('../data/raw_data/australian_postcodes.csv')

In [5]:
df_post_SA2 = df_post_SA2[df_post_SA2['state'] == 'VIC']
df_post_SA2 = df_post_SA2.loc[:,['postcode','SA2_MAINCODE_2016']]
df_post_SA2

       postcode  SA2_MAINCODE_2016
6151       3000        206041122.0
6152       3001        206041122.0
6153       3002        206041119.0
6154       3003        206041127.0
6155       3004        206041126.0
...         ...                ...
18426      8111        206041122.0
18427      8120        206041122.0
18428      8205        206041122.0
18429      8785        212041311.0
18441      9999        206041122.0

[3534 rows x 2 columns]

In [6]:
df_pop = df_pop.loc[:,['SA2','2021']]

In [7]:
df_pop,df_pop_fore

(           SA2   2021
 0    201011001  16823
 1    201011002  12076
 2    201011003  24348
 3    201011004  25269
 4    201011005   7232
 ..         ...    ...
 457  217031476   3978
 458  217041477   6989
 459  217041478   9963
 460  217041479  22462
 461  217041480  13292

 [462 rows x 2 columns],
            SA2 Area Type            Area Name    2026
 0    201011001       SA2            Alfredton  19,227
 1    201011002       SA2             Ballarat  12,534
 2    201011003       SA2     Ballarat - North  25,931
 3    201011004       SA2     Ballarat - South  27,814
 4    201011005       SA2            Buninyong   8,343
 ..         ...       ...                  ...     ...
 457  217031476       SA2                Otway   3,650
 458  217041477       SA2         Moyne - East   6,770
 459  217041478       SA2         Moyne - West  10,612
 460  217041479       SA2  Warrnambool - North  23,959
 461  217041480       SA2  Warrnambool - South  13,577

 [462 rows x 4 columns])

In [8]:
df_new_pop = pd.merge(df_pop,df_pop_fore,how='left')

In [9]:
df_new_pop.dropna(axis=0, how='any')

           SA2   2021 Area Type            Area Name    2026
0    201011001  16823       SA2            Alfredton  19,227
1    201011002  12076       SA2             Ballarat  12,534
2    201011003  24348       SA2     Ballarat - North  25,931
3    201011004  25269       SA2     Ballarat - South  27,814
4    201011005   7232       SA2            Buninyong   8,343
..         ...    ...       ...                  ...     ...
457  217031476   3978       SA2                Otway   3,650
458  217041477   6989       SA2         Moyne - East   6,770
459  217041478   9963       SA2         Moyne - West  10,612
460  217041479  22462       SA2  Warrnambool - North  23,959
461  217041480  13292       SA2  Warrnambool - South  13,577

[462 rows x 5 columns]

In [10]:
df_post_SA2['SA2'] = df_post_SA2['SA2_MAINCODE_2016']
df_post_SA2.drop(['SA2_MAINCODE_2016'],axis=1)

       postcode          SA2
6151       3000  206041122.0
6152       3001  206041122.0
6153       3002  206041119.0
6154       3003  206041127.0
6155       3004  206041126.0
...         ...          ...
18426      8111  206041122.0
18427      8120  206041122.0
18428      8205  206041122.0
18429      8785  212041311.0
18441      9999  206041122.0

[3534 rows x 2 columns]

In [11]:
df_over = pd.merge(df_post_SA2,df_new_pop,how='left')

In [12]:
df_over

,postcode,SA2_MAINCODE_2016,SA2,2021,Area Type,Area Name,2026
0,3000,206041122.0,206041122.0,43823.0,SA2,Melbourne,"73,594"
1,3001,206041122.0,206041122.0,43823.0,SA2,Melbourne,"73,594"
2,3002,206041119.0,206041119.0,4962.0,SA2,East Melbourne,"6,519"
3,3003,206041127.0,206041127.0,0.0,SA2,West Melbourne,0
4,3004,206041126.0,206041126.0,23173.0,SA2,Southbank,"41,516"
...,...,...,...,...,...,...,...
3529,8111,206041122.0,206041122.0,43823.0,SA2,Melbourne,"73,594"
3530,8120,206041122.0,206041122.0,43823.0,SA2,Melbourne,"73,594"
3531,8205,206041122.0,206041122.0,43823.0,SA2,Melbourne,"73,594"
3532,8785,212041311.0,212041311.0,31330.0,SA2,Dandenong,"40,750"
3533,9999,206041122.0,206041122.0,43823.0,SA2,Melbourne,"73,594"

In [13]:
df_over.dropna(axis=0, how='any')

,postcode,SA2_MAINCODE_2016,SA2,2021,Area Type,Area Name,2026
0,3000,206041122.0,206041122.0,43823.0,SA2,Melbourne,"73,594"
1,3001,206041122.0,206041122.0,43823.0,SA2,Melbourne,"73,594"
2,3002,206041119.0,206041119.0,4962.0,SA2,East Melbourne,"6,519"
3,3003,206041127.0,206041127.0,0.0,SA2,West Melbourne,0
4,3004,206041126.0,206041126.0,23173.0,SA2,Southbank,"41,516"
...,...,...,...,...,...,...,...
3529,8111,206041122.0,206041122.0,43823.0,SA2,Melbourne,"73,594"
3530,8120,206041122.0,206041122.0,43823.0,SA2,Melbourne,"73,594"
3531,8205,206041122.0,206041122.0,43823.0,SA2,Melbourne,"73,594"
3532,8785,212041311.0,212041311.0,31330.0,SA2,Dandenong,"40,750"
3533,9999,206041122.0,206041122.0,43823.0,SA2,Melbourne,"73,594"

In [14]:
df_over = df_over.drop(['SA2_MAINCODE_2016','Area Type'], axis=1)

In [15]:
df_over

      postcode          SA2     2021       Area Name    2026
0         3000  206041122.0  43823.0       Melbourne  73,594
1         3001  206041122.0  43823.0       Melbourne  73,594
2         3002  206041119.0   4962.0  East Melbourne   6,519
3         3003  206041127.0      0.0  West Melbourne       0
4         3004  206041126.0  23173.0       Southbank  41,516
...        ...          ...      ...             ...     ...
3529      8111  206041122.0  43823.0       Melbourne  73,594
3530      8120  206041122.0  43823.0       Melbourne  73,594
3531      8205  206041122.0  43823.0       Melbourne  73,594
3532      8785  212041311.0  31330.0       Dandenong  40,750
3533      9999  206041122.0  43823.0       Melbourne  73,594

[3534 rows x 5 columns]

In [16]:
df_over.to_csv('../data/curated_data/pop_postcode.csv',index = False)

In [17]:
df_pro = pd.read_csv('../data/raw_data/new_properties.csv')

In [18]:
def get_postalcode(name):
    return int(name[-4:])
df_pro['postcode'] = df_pro.name.apply(get_postalcode)

In [19]:
df_final = pd.merge(df_pro,df_over,how='left')

https://www.abs.gov.au/statistics/labour/earnings-and-working-conditions/personal-income-australia/2014-15-2018-19#data-download

新的income 链接

In [46]:
df_income = pd.read_csv('../data/curated_data/income.csv')

In [47]:
df_income = df_income.drop(index=0,axis=1)

In [48]:
df_income['SA2']=df_income['SA2'].astype(int)

In [49]:
df_income

,SA2,SA2 NAME,Earners,Median age of earners (years),Sum ($),Median ($),Mean ($)
1,201011001,Alfredton,"7,989",42,"508,645,842","53,932","63,668"
2,201011002,Ballarat,"7,595",47,"591,465,895","53,688","77,876"
3,201011003,Ballarat - North,"13,598",43,"820,866,354","50,593","60,367"
4,201011004,Ballarat - South,"12,722",40,"646,001,740","45,828","50,778"
5,201011005,Buninyong,"4,249",46,"268,782,250","52,377","63,258"
...,...,...,...,...,...,...,...
458,217031476,Otway,"2,360",51,"109,617,595","36,219","46,448"
459,217041477,Moyne - East,"4,081",46,"226,791,976","46,071","55,573"
460,217041478,Moyne - West,"5,852",48,"325,059,577","45,256","55,547"
461,217041479,Warrnambool - North,"13,157",43,"738,088,967","48,855","56,099"
462,217041480,Warrnambool - South,"8,052",44,"469,001,061","47,242","58,247"

In [50]:
df_final

,name,cost_text,coordinates,type,bond,features,unverified_features,desc,costs,beds,...,school,park,supermarket,cinema,postalcode,postcode,SA2,2021,Area Name,2026
0,8092Y/33 Rose Lane Melbourne VIC 3000,$60 per week,"[-37.8150137, 144.9538694]",Apartment / Unit / Flat,261.0,[],[],['. Close to Southern Cross Station. Available...,60.0,1,...,11,170,48,7,VIC 3000,3000,206041122.0,43823.0,Melbourne,"73,594"
1,602/118 Franklin Street Melbourne VIC 3000,$330,"[-37.8082052, 144.9589035]",Apartment / Unit / Flat,1320.0,[],[],['The exclusive address simply speaks for itse...,330.0,1,...,16,166,48,7,VIC 3000,3000,206041122.0,43823.0,Melbourne,"73,594"
2,1112/333-351 Exhibition Street Melbourne VIC 3000,$600 per week,"[-37.8078956, 144.9682873]",Apartment / Unit / Flat,2607.0,['Furnished'],[],['Positioned in this most favourable location ...,600.0,2,...,19,173,54,6,VIC 3000,3000,206041122.0,43823.0,Melbourne,"73,594"
3,3002/288 Spencer St Melbourne VIC 3000,$510,"[-37.813775, 144.9520948]",Apartment / Unit / Flat,2216.0,[],[],['This fantastic apartment located on the 30th...,510.0,2,...,10,108,44,6,VIC 3000,3000,206041122.0,43823.0,Melbourne,"73,594"
4,4/180 Little Collins Street Melbourne VIC 3000,$500 per week,"[-37.8138601, 144.9679067]",Apartment / Unit / Flat,2173.0,['Furnished'],[],['Enjoy what the renowned reputation The Georg...,500.0,1,...,13,146,49,7,VIC 3000,3000,206041122.0,43823.0,Melbourne,"73,594"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65943,14 Inverloch Parade Inverloch VIC 3996,$420 wk,"[-38.6287143, 145.7358082]",House,1820.0,"['Garden', 'Split System AC', 'Floorboards']","['Internal Laundry', 'Heating']","['This two bedroom, 1 bathroom home will surel...",420.0,2,...,0,0,0,0,VIC 3996,3996,205031087.0,9377.0,Foster,"9,320"
65944,Inverloch VIC 3996,$475 wk,"[-38.6314613, 145.7293638]",House,2065.0,"['Ensuite', 'Garden', 'Split System AC', 'Outd...",['Heating'],"[""Neat 3 bedroom home located in the immaculat...",475.0,3,...,0,0,0,0,VIC 3996,3996,205031093.0,26723.0,Wonthaggi - Inverloch,"27,692"
65945,Inverloch VIC 3996,$475 wk,"[-38.6314613, 145.7293638]",House,2065.0,"['Ensuite', 'Garden', 'Split System AC', 'Outd...",['Heating'],"[""Neat 3 bedroom home located in the immaculat...",475.0,3,...,0,0,0,0,VIC 3996,3996,205031087.0,9377.0,Foster,"9,320"
65946,64 Dixon Street Inverloch VIC 3996,Contact Agent,"[-38.6313719, 145.717275]",House,200.0,['Solar panels'],[],['- Street frontage with excellent exposure- A...,NaN,1,...,0,0,0,0,VIC 3996,3996,205031093.0,26723.0,Wonthaggi - Inverloch,"27,692"
65947,64 Dixon Street Inverloch VIC 3996,Contact Agent,"[-38.6313719, 145.717275]",House,200.0,['Solar panels'],[],['- Street frontage with excellent exposure- A...,NaN,1,...,0,0,0,0,VIC 3996,3996,205031087.0,9377.0,Foster,"9,320"

In [51]:
df_final_with_income = pd.merge(df_final,df_income,how='left')

In [52]:
df_final_with_income

,name,cost_text,coordinates,type,bond,features,unverified_features,desc,costs,beds,...,SA2,2021,Area Name,2026,SA2 NAME,Earners,Median age of earners (years),Sum ($),Median ($),Mean ($)
0,8092Y/33 Rose Lane Melbourne VIC 3000,$60 per week,"[-37.8150137, 144.9538694]",Apartment / Unit / Flat,261.0,[],[],['. Close to Southern Cross Station. Available...,60.0,1,...,206041122.0,43823.0,Melbourne,"73,594",Melbourne,"27,182",30,"1,426,389,488","30,024","52,476"
1,602/118 Franklin Street Melbourne VIC 3000,$330,"[-37.8082052, 144.9589035]",Apartment / Unit / Flat,1320.0,[],[],['The exclusive address simply speaks for itse...,330.0,1,...,206041122.0,43823.0,Melbourne,"73,594",Melbourne,"27,182",30,"1,426,389,488","30,024","52,476"
2,1112/333-351 Exhibition Street Melbourne VIC 3000,$600 per week,"[-37.8078956, 144.9682873]",Apartment / Unit / Flat,2607.0,['Furnished'],[],['Positioned in this most favourable location ...,600.0,2,...,206041122.0,43823.0,Melbourne,"73,594",Melbourne,"27,182",30,"1,426,389,488","30,024","52,476"
3,3002/288 Spencer St Melbourne VIC 3000,$510,"[-37.813775, 144.9520948]",Apartment / Unit / Flat,2216.0,[],[],['This fantastic apartment located on the 30th...,510.0,2,...,206041122.0,43823.0,Melbourne,"73,594",Melbourne,"27,182",30,"1,426,389,488","30,024","52,476"
4,4/180 Little Collins Street Melbourne VIC 3000,$500 per week,"[-37.8138601, 144.9679067]",Apartment / Unit / Flat,2173.0,['Furnished'],[],['Enjoy what the renowned reputation The Georg...,500.0,1,...,206041122.0,43823.0,Melbourne,"73,594",Melbourne,"27,182",30,"1,426,389,488","30,024","52,476"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65943,14 Inverloch Parade Inverloch VIC 3996,$420 wk,"[-38.6287143, 145.7358082]",House,1820.0,"['Garden', 'Split System AC', 'Floorboards']","['Internal Laundry', 'Heating']","['This two bedroom, 1 bathroom home will surel...",420.0,2,...,205031087.0,9377.0,Foster,"9,320",Foster,"4,997",52,"235,309,719","37,285","47,090"
65944,Inverloch VIC 3996,$475 wk,"[-38.6314613, 145.7293638]",House,2065.0,"['Ensuite', 'Garden', 'Split System AC', 'Outd...",['Heating'],"[""Neat 3 bedroom home located in the immaculat...",475.0,3,...,205031093.0,26723.0,Wonthaggi - Inverloch,"27,692",Wonthaggi - Inverloch,"12,695",49,"626,371,450","39,884","49,340"
65945,Inverloch VIC 3996,$475 wk,"[-38.6314613, 145.7293638]",House,2065.0,"['Ensuite', 'Garden', 'Split System AC', 'Outd...",['Heating'],"[""Neat 3 bedroom home located in the immaculat...",475.0,3,...,205031087.0,9377.0,Foster,"9,320",Foster,"4,997",52,"235,309,719","37,285","47,090"
65946,64 Dixon Street Inverloch VIC 3996,Contact Agent,"[-38.6313719, 145.717275]",House,200.0,['Solar panels'],[],['- Street frontage with excellent exposure- A...,NaN,1,...,205031093.0,26723.0,Wonthaggi - Inverloch,"27,692",Wonthaggi - Inverloch,"12,695",49,"626,371,450","39,884","49,340"
65947,64 Dixon Street Inverloch VIC 3996,Contact Agent,"[-38.6313719, 145.717275]",House,200.0,['Solar panels'],[],['- Street frontage with excellent exposure- A...,NaN,1,...,205031087.0,9377.0,Foster,"9,320",Foster,"4,997",52,"235,309,719","37,285","47,090"

In [53]:
df_final_with_income.to_csv('../data/curated_data/new_properties.csv',index = False)